body {
    font-family: Arial, sans-serif;  /* Font style */
    background-color: #5869ff;     /* Page background color a1b5f7 */
    text-align: left;              /* Center text on page */
    margin: 20px;                    /* Space around body */
}
/* Heading styling */
h1 {
    color: black;                    /* Text color */
    margin-bottom: 30px;    /* Space below heading */
}
/* Product Box styling */
.product-card {
    background-color: rgb(255, 255, 255);         /* White background */
    width: 300px;                    /* Box width */
    
    /* Center the box horizontally */
    /* When you write margin: auto, the browser automatically calculates equal left and right spaces
— this pushes the element to the center horizontally. */
    padding: 15px;                   /* Inner spacing inside box */
    border: 2px solid gray;          /* Border around the box */
    border-radius: 8px;              /* Rounded corners */
}
/* Product Image styling */
.product-card img {
    width: 100%;         /* Image takes full box width */
    height: 200;        /* Keep image proportion */
    border-radius: 5px;          /* Slightly rounded image corners */
}
/* Product Title */
.product-card h2 {
    color: black;                    /* Text color */
    font-size: 20px;                 /* Font size */
    margin-top: 10px;                /* Space above title */
}
/* Product Description */
.description {
    color: dimgray;                  /* Gray text */
    font-size: 14px;                 /* Small readable text */
    margin: 10px 0;                  /* Space above and below */
}
/* Product Price */
.price {
    color: rgb(43, 52, 177);                      /* Red price text */
    font-weight: bold;               /* Bold text */
    margin-bottom: 15px;             /* Space below price */
}
/* Button Styling */
button {
    background-color: rgb(55, 55, 97);          /* Blue button */
    color: white;                    /* White text */
    padding: 10px 20px;  
      /* Inner space (top-bottom, left-right) */
    border: none;                    /* No border */
    border-radius: 5px;              /* Rounded button corners */
}
/* Button hover effect */
button:hover {
    background-color: darkblue;      /* Darker blue on hover */
    
}

